/* High-Contrast Light Theme */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  input {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
  }

  li {
    background-color: #ffffff;
    color: #000000;
  }

  li.active {
    background-color: #000000;
    color: #ffffff;
  }

  li.active div:last-child {
    color: #ffffff;
  }
}

/* High-Contrast Dark Theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }

  input {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  li {
    background-color: #000000;
    color: #ffffff;
  }

  li.active {
    background-color: #ffffff;
    color: #000000;
  }

  li.active div:last-child {
    color: #000000;
  }
}

/* Override for forced light mode */
body.force-light {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body.force-light input {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

body.force-light li {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body.force-light li.active {
  background-color: grey !important;
  color: #ffffff !important;
}

/* Override for forced dark mode */
body.force-dark {
  background-color: #000000 !important;
  color: #ffffff !important;
}

body.force-dark input {
  background-color: #000000 !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
}

body.force-dark li {
  background-color: #000000 !important;
  color: #ffffff !important;
}

body.force-dark li.active {
  background-color: #ffffff !important;
  color: #000000 !important;
}
